--- ./vanilla//drivers/char/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/char/Kconfig	2012-05-23 10:43:57.463935515 +0300
@@ -88,6 +88,19 @@
 	 information. For framebuffer console users, please refer to
 	 <file:Documentation/fb/fbcon.txt>.
 
+config DEVMEM
+	bool "Memory device driver"
+	default y
+	help
+	  The memory driver provides two character devices, mem and kmem, which
+	  provide access to the system's memory. The mem device is a view of
+	  physical memory, and each byte in the device corresponds to the
+	  matching physical address. The kmem device is the same as mem, but
+	  the addresses correspond to the kernel's virtual address space rather
+	  than physical memory. These devices are standard parts of a Linux
+	  system and most users should say Y here. You might say N if very
+	  security conscience or memory is tight.
+
 config DEVKMEM
 	bool "/dev/kmem virtual device support"
 	default y
@@ -433,6 +446,8 @@
 
 source "drivers/serial/Kconfig"
 
+source "drivers/char/diag/Kconfig"
+
 config UNIX98_PTYS
 	bool "Unix98 PTY support" if EMBEDDED
 	default y
@@ -1116,7 +1131,29 @@
 	depends on ISA || PCI
 	default y
 
+config DCC_TTY
+	tristate "DCC tty driver"
+	depends on ARM
+
 source "drivers/s390/char/Kconfig"
 
+config MSM_ROTATOR
+	tristate "MSM Offline Image Rotator Driver"
+	depends on ARCH_MSM7X30 && ANDROID_PMEM
+	default y
+	help
+	  This driver provides support for the image rotator HW block in the
+	  MSM 7x30 SoC.
+
+config MSM_ROTATOR_USE_IMEM
+	bool "Enable rotator driver to use iMem"
+	depends on MSM_ROTATOR
+	default y
+	help
+	  This option enables the msm_rotator driver to use the move efficient
+	  iMem.  Some MSM platforms may not have iMem available for the rotator
+	  block.  Or some systems may want the iMem to be dedicated to a
+	  different function.
+
 endmenu
 
