--- ./vanilla//drivers/mtd/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mtd/Kconfig	2012-05-23 10:43:58.164935485 +0300
@@ -53,6 +53,18 @@
 	  devices. Partitioning on NFTL 'devices' is a different - that's the
 	  'normal' form of partitioning used on a block device.
 
+config MTD_LAZYECCSTATS
+	bool "MTD Lazy ECC Stats collection support"
+	depends on MTD_PARTITIONS
+	default n
+	help
+	  Normally bad block counts for ECC stats are collected at boot time.
+	  This option delays the badblock stats collection until ECCGETSTATS
+	  ioctl is invoked on the partition.
+
+	  This can significantly decrease boot times depending on the size of
+	  the partition.  If unsure, say 'N'.
+
 config MTD_REDBOOT_PARTS
 	tristate "RedBoot partition table parsing"
 	depends on MTD_PARTITIONS
