--- ./vanilla//drivers/input/keyboard/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/input/keyboard/Kconfig	2012-05-23 10:43:57.791935502 +0300
@@ -413,6 +413,14 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called xtkbd.
 
+config KEYBOARD_QCIKBD
+   tristate "Quanta Computer Inc. keyboard"
+   depends on I2C && ARCH_MSM_SCORPION
+   default n
+   help
+     Say Y here if you want to use the Quanta keyboard driver for ST 1.5
+     platform.
+
 config KEYBOARD_W90P910
 	tristate "W90P910 Matrix Keypad support"
 	depends on ARCH_W90X900
@@ -423,4 +431,47 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called w90p910_keypad.
 
+config KEYBOARD_I2C_MSM
+	tristate "Qualcomm I2C keyboard"
+	depends on I2C && ARCH_MSM_SCORPION
+	default n
+	help
+	  Say Y here if you want to enable the driver for the I2C QWERTY
+	  keyboard provided as a reference design from Qualcomm. This is
+	  intended to support an integrated keyboard that is connected via
+	  four GPIO pins on the 8K platforms. The GPIO pins are set up for
+	  an external interrupt, hardware reset, and the two I2C lines
+	  connected to the internal i2c controller.
+
+config KEYBOARD_PMIC8058
+	tristate "Qualcomm PMIC8058 keypad"
+	depends on PMIC8058
+	default y
+	help
+	  Say Y here if you want to enable the driver for the PMIC8058
+	  keypad provided as a reference design from Qualcomm. This is intended
+	  to support upto 18x8 matrix based keypad design.
+
+	  To compile this driver as a module, choose M here: the module will
+	  be called pmic8058-keypad.
+	  
+config RMT_CTRL_NEC
+	tristate "Remote control key support"
+	depends on I2C && ARCH_MSM_SCORPION
+	default n
+	help
+	  Say Y here if you want to use a remote control keypad .
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called rmt_ctrl.
+	  
+config REMOTE_CONTROL_GPIO
+tristate "Remote control through gpio decord key support"
+	depends on GENERIC_GPIO
+	default n
+	help
+	  Say Y here if you want to use a remote control keypad .
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called rmt_ctrl_gpio.
 endif
