--- ./vanilla//drivers/input/touchscreen/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/input/touchscreen/Kconfig	2012-05-23 10:43:57.811935501 +0300
@@ -4,7 +4,7 @@
 menuconfig INPUT_TOUCHSCREEN
 	bool "Touchscreens"
 	help
-	  Say Y here, and a list of supported touchscreens will be displayed.
+	  Say Y here, and a list of supported touchscreens will be displayed. 
 	  This option doesn't affect the kernel.
 
 	  If unsure, say Y.
@@ -103,6 +103,17 @@
 	  NOTE: this driver is deprecated, try enable SPI and generic
 	  ADS7846-based touchscreen driver.
 
+config TOUCHSCREEN_CYPRESS_TMG
+	tristate "Support for Cypress TMC i2c touchscreen"
+	depends on I2C
+	help
+	  Say Y here to enable support for cy8ctmg touchcreens.
+
+	  If unsure, say N
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called h3600_ts_input.
+
 config TOUCHSCREEN_DA9034
 	tristate "Touchscreen support for Dialog Semiconductor DA9034"
 	depends on PMIC_DA903X
@@ -145,6 +156,10 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called gunze.
 
+config TOUCHSCREEN_ELAN_I2C_8232
+	tristate "Elan 8232 I2C touchscreen"
+	depends on I2C
+
 config TOUCHSCREEN_ELO
 	tristate "Elo serial touchscreens"
 	select SERIO
@@ -260,6 +275,15 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called penmount.
 
+config TOUCHSCREEN_MSM
+	bool "Qualcomm MSM touchscreen controller"
+	depends on ARCH_MSM7X30 && MARIMBA_TSADC
+	default n
+	help
+	  Say Y here if you have a 4-wire resistive touchscreen panel
+	  connected to the TSSC touchscreen controller on a
+	  Qualcomm MSM/QSD based SoC.
+
 config TOUCHSCREEN_MIGOR
 	tristate "Renesas MIGO-R touchscreen"
 	depends on SH_MIGOR && I2C
@@ -271,6 +295,40 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called migor_ts.
 
+config TOUCHSCREEN_T1320
+	tristate "T1320 Capacitive Touchscreen"
+	depends on I2C
+	help
+	  This enables support for T1320 based touchscreens.
+
+config SYNA_BUTTONS
+	bool "T1320 buttons (reported as buttons)"
+	depends on TOUCHSCREEN_T1320
+
+config SYNA_BUTTONS_SCROLL
+	bool "T1320 buttons reported as relative motion (scroll strip)"
+	depends on TOUCHSCREEN_T1320
+
+config SYNA_MOUSE
+	bool "T1320 pointing compatible with old single-point touch systems"
+	depends on TOUCHSCREEN_T1320
+
+config SYNA_MT
+	bool "T1320 pointing using Linux 2.6.31 multi-touch system"
+	depends on TOUCHSCREEN_T1320
+
+config UPDATE_TS_FIRMWARE
+	bool "Surport download t1320 firmware function"
+	depends on TOUCHSCREEN_T1320
+config TOUCHSCREEN_MXT224
+	tristate "mXT224 based touchscreens"
+	depends on I2C
+	help
+	  Say Y here if you have a mXT224 based touchscreen.
+	  If unsure, say N.
+	  To compile this driver as a module, choose M here: the
+	  module will be called mxt224
+
 config TOUCHSCREEN_TOUCHRIGHT
 	tristate "Touchright serial touchscreen"
 	select SERIO
@@ -512,6 +570,27 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called tsc2007.
 
+config TOUCHSCREEN_MSM_LEGACY
+	default n
+	tristate "MSM Touchscreen"
+	depends on ARCH_MSM && !ARCH_MSM7X30
+	help
+	  Say Y here if you have a touchscreen interface using MSM
+	  touchscreen controller.
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called msm_touch.
+
+config ANDROID_TOUCHSCREEN_MSM_HACKS
+	default y
+	depends on TOUCHSCREEN_MSM_LEGACY
+	bool "Android MSM Touchscreen hacks"
+	help
+	  Say Y here if you are running Android framework on Qualcomm
+	  MSM/QSD based Surf or FFAs. These hacks are required inorder
+	  to Android framework to receive adjusted x, y co-ordinates
+	  until proper calibration framework is in place.
+
 config TOUCHSCREEN_W90X900
 	tristate "W90P910 touchscreen driver"
 	depends on HAVE_CLK
@@ -530,4 +609,19 @@
 
 	  To compile this driver as a module, choose M here: the
 	  module will be called pcap_ts.
+
+config TOUCHSCREEN_CY8C_TS
+	tristate "Cypress TMA300-TMG200 based touchscreens"
+	depends on I2C
+	default n
+	help
+	  Say Y here if you have a Cypress TMA300/TMG200 based touchscreen.
+	  TMA300 is a multi-touch screen which can report upto 10
+	  touches at a time. TMG200 supports 2 touches.
+
+	  If unsure, say N.
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called cy8c_ts.
+
 endif
