--- ./vanilla//drivers/input/pedestal/Kconfig	1970-01-01 03:00:00.000000000 +0300
+++ ./default//drivers/input/pedestal/Kconfig	2012-05-23 10:43:57.806935501 +0300
@@ -0,0 +1,21 @@
+#
+# accelerometer driver configuration
+#
+menuconfig INPUT_PEDESTAL
+	bool "Pedestal"
+	help
+	  Say Y here, and a list of supported Pedestal will be displayed.
+	  This option doesn't affect the kernel.
+
+	 
+
+if INPUT_PEDESTAL
+
+config PEDESTAL
+	tristate "Pedestal"	
+	select SERIO
+	help
+	  Say Y here if you have the Pedestal.
+endif
+	 
+ 
