--- ./vanilla//drivers/input/belasigna/Kconfig	1970-01-01 03:00:00.000000000 +0300
+++ ./default//drivers/input/belasigna/Kconfig	2012-05-23 10:43:57.783935502 +0300
@@ -0,0 +1,5 @@
+config BELASIGNA_BS300
+	bool "BELASIGNA BS300 AUDIO"	
+	depends on GPIO_I2C_ADPT
+	help
+	  Say Y here if you have the BELASIGNA BS300. 
