--- ./vanilla//drivers/misc/vidc/Kconfig	1970-01-01 03:00:00.000000000 +0300
+++ ./default//drivers/misc/vidc/Kconfig	2012-05-23 10:43:58.146935485 +0300
@@ -0,0 +1,31 @@
+#
+# VIDEO CORE
+#
+menuconfig VIDC
+	bool "Video Core Driver"
+	depends on ARCH_MSM7X30 || ARCH_MSM8x60
+	default y
+	---help---
+	Say Y here to see options for video device drivers.
+	If you say N, all options in this submenu will be skipped and disabled.
+
+menuconfig VIDC_720P
+	bool "720P Video Core"
+	depends on VIDC && ARCH_MSM7X30
+	default y
+	help
+	  This option enables 720P Video core.
+
+config VIDC_VENC
+	tristate "Video encoder"
+	depends on VIDC
+	default y
+	help
+	  This option enables support for Video encoder.
+
+config VIDC_VDEC
+	tristate "Video decoder"
+	depends on VIDC
+	default y
+	help
+	  This option enables support for Video decoder.
