--- ./vanilla//drivers/mtd/nand/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mtd/nand/Kconfig	2012-05-23 10:43:58.182935484 +0300
@@ -1,5 +1,12 @@
 # drivers/mtd/nand/Kconfig
 
+config MTD_NAND_IDS
+	tristate "Include chip ids for known NAND devices."
+	depends on MTD
+	help
+	  Useful for NAND drivers that do not use the NAND subsystem but
+	  still like to take advantage of the known chip information.
+
 menuconfig MTD_NAND
 	tristate "NAND Device Support"
 	depends on MTD
@@ -103,9 +110,6 @@
 	help
 	  Support for NAND flash on Technologic Systems TS-7250 platform.
 
-config MTD_NAND_IDS
-	tristate
-
 config MTD_NAND_AU1550
 	tristate "Au1550/1200 NAND support"
 	depends on SOC_AU1200 || SOC_AU1550
