--- ./vanilla//drivers/mmc/host/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mmc/host/Kconfig	2012-05-23 10:43:58.157935483 +0300
@@ -207,13 +207,6 @@
 
 	  If unsure, say N.
 
-config MMC_MSM7X00A
-	tristate "Qualcomm MSM 7X00A SDCC Controller Support"
-	depends on MMC && ARCH_MSM
-	help
-	  This provides support for the SD/MMC cell found in the
-          MSM 7X00A controllers from Qualcomm.
-
 config MMC_MXC
 	tristate "Freescale i.MX2/3 Multimedia Card Interface support"
 	depends on ARCH_MXC
@@ -327,6 +320,160 @@
 	  To compile this driver as a module, choose M here: the
 	  module will be called sdricoh_cs.
 
+
+config MMC_MSM
+	tristate "Qualcomm SDCC Controller Support"
+	depends on MMC && ARCH_MSM
+	help
+	  This provides support for the SD/MMC cell found in the
+          MSM and QSD SOCs from Qualcomm.
+
+config MMC_MSM_NOT_REMOVE_CARD_WHEN_SUSPEND
+	bool "Do not remove card when suspending"
+    depends on MMC_MSM && PM
+	default y
+	help
+	  This always keeps power of Qualcomm SDCC controller on and
+	  does not remove card when entering into suspend.
+
+
+config MMC_MSM_SDIO_SUPPORT
+	boolean "Qualcomm MSM SDIO support"
+	depends on MMC_MSM
+	help
+	  This enables SDIO support in the msm_sdcc driver.
+
+config MMC_MSM_CARD_HW_DETECTION
+	boolean "Qualcomm MMC Hardware detection support"
+	depends on MMC_MSM
+	default n
+	help
+	  Select Y if the hardware has support to detect card insertion/removal.
+
+config MMC_MSM_SDC1_SUPPORT
+	boolean "Qualcomm SDC1 support"
+	depends on MMC_MSM
+	default y
+	help
+	  Select Y to enable Slot 1.
+
+config MMC_MSM_SDC1_8_BIT_SUPPORT
+	boolean "Qualcomm SDC1 8bit support"
+	depends on MMC_MSM_SDC1_SUPPORT
+	default n
+	help
+	  Select Y to enable 8bit support for Slot 1.
+
+config MMC_MSM_SDC1_DUMMY52_REQUIRED
+	boolean "Send dummy 52 read for SDC1"
+	depends on MMC_MSM_SDC1_SUPPORT && !MMC_MSM_PROG_DONE_SCAN
+	default n
+	help
+	  Select Y to enable sending dummy 52 reads to complete
+	  all data commands.  Required for some SDIO cards.
+	  If unsure, say N.
+
+config MMC_MSM_SDC2_SUPPORT
+	boolean "Qualcomm SDC2 support"
+	depends on MMC_MSM
+	default y
+	help
+	  Select Y to enable Slot 2.
+
+config MMC_MSM_SDC2_8_BIT_SUPPORT
+	boolean "Qualcomm SDC2 8bit support"
+	depends on MMC_MSM_SDC2_SUPPORT
+	default n
+	help
+	  Select Y to enable 8bit support for Slot 2.
+
+config MMC_MSM_SDC2_DUMMY52_REQUIRED
+	boolean "Send dummy 52 read for SDC2"
+	depends on MMC_MSM_SDC2_SUPPORT && !MMC_MSM_PROG_DONE_SCAN
+	default n
+	help
+	  Select Y to enable sending dummy 52 reads to complete
+	  all data commands.  Required for some SDIO cards.
+	  If unsure, say N.
+
+config MMC_MSM_SDC3_SUPPORT
+	boolean "Qualcomm SDC3 support"
+	depends on MMC_MSM
+	default n
+	help
+	  Select Y to enable Slot 3.
+
+config MMC_MSM_SDC3_8_BIT_SUPPORT
+	boolean "Qualcomm SDC3 8bit support"
+	depends on MMC_MSM_SDC3_SUPPORT
+	default n
+	help
+	  Select Y to enable 8bit support for Slot 3.
+
+config MMC_MSM_SDC3_DUMMY52_REQUIRED
+	boolean "Send dummy 52 read for SDC3"
+	depends on MMC_MSM_SDC3_SUPPORT && !MMC_MSM_PROG_DONE_SCAN
+	default n
+	help
+	  Select Y to enable sending dummy 52 reads to complete
+	  all data commands.  Required for some SDIO cards.
+	  If unsure, say N.
+
+config MMC_MSM_SDC4_SUPPORT
+	boolean "Qualcomm SDC4 support"
+	depends on MMC_MSM
+	default n
+	help
+	  Select Y to enable Slot 4.
+
+config MMC_MSM_SDC4_8_BIT_SUPPORT
+	boolean "Qualcomm SDC4 8bit support"
+	depends on MMC_MSM_SDC4_SUPPORT
+	default n
+	help
+	  Select Y to enable 8bit support for Slot 4.
+
+config MMC_MSM_SDC4_DUMMY52_REQUIRED
+	boolean "Send dummy 52 read for SDC4"
+	depends on MMC_MSM_SDC4_SUPPORT && !MMC_MSM_PROG_DONE_SCAN
+	default n
+	help
+	  Select Y to enable sending dummy 52 reads to complete
+	  all data commands.  Required for some SDIO cards.
+	  If unsure, say N.
+
+config MMC_MSM_SDC5_SUPPORT
+	boolean "Qualcomm SDC5 support"
+	depends on MMC_MSM
+	default n
+	help
+	  Select Y to enable Slot 5.
+
+config MMC_MSM_SDC5_8_BIT_SUPPORT
+	boolean "Qualcomm SDC5 8bit support"
+	depends on MMC_MSM_SDC5_SUPPORT
+	default n
+	help
+	  Select Y to enable 8bit support for Slot 5.
+
+config MMC_MSM_SDC5_DUMMY52_REQUIRED
+	boolean "Send dummy 52 read for SDC5"
+	depends on MMC_MSM_SDC5_SUPPORT && !MMC_MSM_PROG_DONE_SCAN
+	default n
+	help
+	  Select Y to enable sending dummy 52 reads to complete
+	  all data commands.  Required for some SDIO cards.
+	  If unsure, say N.
+
+config MMC_MSM_PROG_DONE_SCAN
+	bool "Perform prog done scan as needed for SDIO"
+	depends on MMC_MSM
+	default n
+	help
+	  Enable prog_done scan after cmd53-dummycmd52 for SDIO
+
+
+
 config MMC_TMIO
 	tristate "Toshiba Mobile IO Controller (TMIO) MMC/SD function support"
 	depends on MFD_TMIO || MFD_ASIC3
