--- ./vanilla//drivers/hwmon/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/hwmon/Kconfig	2012-05-23 10:43:57.697935506 +0300
@@ -623,6 +623,16 @@
 	  This driver can also be built as a module.  If so, the module
 	  will be called max6650.
 
+config SENSORS_MSM_ADC
+	tristate "MSM ADC Driver for current measurement"
+	depends on ARCH_MSM7X30
+	default n
+	help
+	  Say yes here to include support for measuring current in real-time
+	  from various power-rails on the Fluid board.  The ADC circuit
+	  internally uses an array of LTC2499 ADCs in a differential
+	  configuration to provide a flat set of channels that can be addressed.
+
 config SENSORS_PC87360
 	tristate "National Semiconductor PC87360 family"
 	select HWMON_VID
