--- ./vanilla//drivers/mtd/devices/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mtd/devices/Kconfig	2012-05-23 10:43:58.167935485 +0300
@@ -51,6 +51,16 @@
 	  say M here and read <file:Documentation/kbuild/modules.txt>.
 	  The module will be called ms02-nv.
 
+config MTD_MSM_NAND
+	tristate "MSM NAND Device Support"
+	depends on MTD && ARCH_MSM
+	select CRC16
+	select BITREVERSE
+	select MTD_NAND_IDS
+	default y
+	help
+	  Support for some NAND chips connected to the MSM NAND controller.
+
 config MTD_DATAFLASH
 	tristate "Support for AT45xxx DataFlash"
 	depends on SPI_MASTER && EXPERIMENTAL
