--- ./vanilla//drivers/mmc/card/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mmc/card/Kconfig	2012-05-23 10:43:58.154935485 +0300
@@ -32,6 +32,15 @@
 
 	  If unsure, say Y here.
 
+config MMC_BLOCK_DEFERRED_RESUME
+	bool "Deferr MMC layer resume until I/O is requested"
+	depends on MMC_BLOCK
+	default n
+	help
+	  Say Y here to enable deferred MMC resume until I/O
+	  is requested. This will reduce overall resume latency and
+	  save power when theres an SD card inserted but not being used.
+
 config SDIO_UART
 	tristate "SDIO UART/GPS class support"
 	help
