--- ./vanilla//drivers/mmc/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/mmc/Kconfig	2012-05-23 10:43:58.154935485 +0300
@@ -19,6 +19,14 @@
 	  This is an option for use by developers; most people should
 	  say N here.  This enables MMC core and driver debugging.
 
+config MMC_PERF_PROFILING
+	bool "MMC performance profiling"
+	depends on MMC != n
+	default n
+	help
+	  If you say Y here, support will be added for collecting
+	  performance numbers at the MMC Queue and Host layers.
+
 if MMC
 
 source "drivers/mmc/core/Kconfig"
