--- ./vanilla//drivers/gpio/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/gpio/Kconfig	2012-05-23 10:43:57.647935508 +0300
@@ -172,6 +172,24 @@
 	  To compile this driver as a module, choose M here: the module will
 	  be called adp5520-gpio.
 
+config GPIO_SX150X
+	tristate "SX150x I2C GPIO expander"
+	depends on I2C
+	default n
+	help
+	  Say yes here to provide support for the Semtech SX150x I2C
+	  GPIO expanders.
+
+config MPP_PMIC8901
+	tristate "Qualcomm PMIC8901 MPP"
+	depends on GPIOLIB && PMIC8901
+	default y
+	help
+	  Say yes here to support GPIO functionality on Qualcomm's
+	  PM8901 chip for MPP(Multi-Purpose Pin) pins. These pins
+	  work like GPIO pins when configured as digital input and/or
+	  output signals.
+
 comment "PCI GPIO expanders:"
 
 config GPIO_BT8XX
