--- ./vanilla//drivers/net/wireless/bcm4329/Kconfig	1970-01-01 03:00:00.000000000 +0300
+++ ./default//drivers/net/wireless/bcm4329/Kconfig	2012-05-23 10:43:58.532935468 +0300
@@ -0,0 +1,25 @@
+config BCM4329
+	tristate "Broadcom 4329 wireless cards support"
+	depends on WIRELESS_EXT && MMC
+	---help---
+	  This module adds support for wireless adapters based on
+	  Broadcom 4329 chipset.
+
+	  This driver uses the kernel's wireless extensions subsystem.
+
+	  If you choose to build a module, it'll be called dhd. Say M if
+	  unsure.
+
+config BCM4329_FW_PATH
+	depends on BCM4329
+	string "Firmware path"
+	default "/system/etc/firmware/fw_bcm4329.bin"
+	---help---
+	  Path to the firmware file.
+
+config BCM4329_NVRAM_PATH
+	depends on BCM4329
+	string "NVRAM path"
+	default "/proc/calibration"
+	---help---
+	  Path to the calibration file.
