--- ./vanilla//drivers/media/radio/Kconfig	2010-02-23 17:38:51.000000000 +0200
+++ ./default//drivers/media/radio/Kconfig	2012-05-23 10:43:57.941935495 +0300
@@ -401,4 +401,14 @@
 	  Say Y here if TEA5764 have a 32768 Hz crystal in circuit, say N
 	  here if TEA5764 reference frequency is connected in FREQIN.
 
+config RADIO_TAVARUA
+	tristate "Qualcomm Tavaraua I2C FM support"
+	depends on I2C && VIDEO_V4L2 && MARIMBA_CORE
+	default n
+	---help---
+	  Say Y here if you want to use the Qualcomm FM chip (Tavarua).
+	  This FM chip uses I2C interface.
+
+	  To compile this driver as a module, choose M here: the
+	  module will be called radio-tavarua.
 endif # RADIO_ADAPTERS
